# Terraform files sensibles
*.tfstate
*.tfstate.*
*.tfstate.backup
**/.terraform/*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
.ansible/

# Fichiers de plan Terraform
*.tfplan
tfplan

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# Variables d'environnement
.env
.env.local

# venv
venv/
